# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
REACT_APP_TMDB_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1Njc2ZjQ3NTVlM2ViNTRkNGMzYzNhMDQ2NzExMmMxMiIsIm5iZiI6MTcyMTg0NTU4NS43Njg4MzIsInN1YiI6IjY2YTE0NTk1NDE5NGY5YjNkN2RkNzk2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.7Bsi1qnI2sjJLARaKmmMlH_UqlodIZ7xfQ4Ajacj7cQ
REACT_APP_OPENAI__PROJECT_API_KEY=sk-proj-0E1mIxctRfii9YhTMHx2T3BlbkFJJudW6biYIMKMei0fZhn9
REACT_APP_OPENAI_USER_API_KEY=sk-None-rkzcDcKD8uMwLSnflRL6T3BlbkFJRnU3pQQFs08xL1IEjFWT
